//media query - designed for mobile up!
//scss only
// @mixin funkyBorder {
//   border: 10px solid orange;
// }
// @mixin funkyBorder($borderSize:10px,$borderColor:orange) {
//   border: $borderSize solid $borderColor;
//   *{
//     @content;
//   }
// }
// //mixin called funky background
// @mixin funkyBackground($backgroundColor:blue){
//   background-color: $backgroundColor;
// }




.page-content{
  display:flex;
  margin:0 auto;
  max-width: $site-max-width;
  height:$page-content-height;
  //media query

  // @media (min-width:50rem) {
  //   padding: $large-space $space;
  // } -> Becomes
  @include desktop{ //no parenthesies as no parameters.
    padding: $large-space $space;
  }


}

.page-content__sidebar{
  //display:flex;
  //display:none; //hides the element


  //inline - applies to the .page-content-sidebar
  // @media (min-width:50rem) {
  //   display:flex;
  // }
  display:flex;
  transition:left .3s ease;
  width:100vw;
  position: fixed; //position this relative to the viewport
  top:$header-height;
  left:-100vw;
  right:0;
  bottom:0;
  z-index:1; //added to stop a bug in iphone where text box appears on top...

  @include desktop{
    position: static;
    width: $page-content-sidebar-width;
    padding-right: $large-space;
  }
}
.is-nav-open .page-content__sidebar{ //clever, as this targets the sidebat only is the bodyhas been assigned the classis nav open
  left:0;
}



// @media (min-width:50rem) { //when the browser has a minimum width of 50
//   .page-content__sidebar * {
//     color:red;
//   }
// }

// @media (max-width:50rem) and (min-width:30rem) { //when the browser has a minimum width of 50
//   .page-content__sidebar * {
//     color:blue;
//   }
// }

.page-content__main{
  display:flex;
  width:100%;
  //width: $page-content-main-width;



  // @media (min-width:50rem){
  //   width: $page-content-main-width;
  //   // @include funkyBorder(){
  //   //   color:green;
  //   // };
  // }

  @include desktop{
    width: $page-content-main-width;
  }

}
